{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="change_password" method="post" onsubmit="passwordCheck()">

        <div class="form-group">
            <input id="password-one" autofocus class="form-control" autocomplete="off" name="password-first" placeholder="New Password" type="password">
            <p id="previous"></p>
        </div>
        <div class="form-group">
            <input id="password-two" autofocus class = "form-control" autocomplete="off" name="password-second" placeholder="Re-type password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>

    </form>
    {% if error %}
        <p class="error">Error: {{error}}</p>
    {% endif %}


{% endblock %}